@import url("./bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

main {
  min-height: 60vh;
}

.section-hover {
  opacity: 75%;
  transition: opacity 0.3s ease-in-out 0s;
}
.section-hover:hover {
  opacity: 100%;
}

.bg-img-login {
  min-height: 88vh;
  background-image: url("../img/Spa_login.webp");
  background-size: cover;
  background-position: center;
}
.bg-img-register {
  min-height: 88vh;
  background-image: url("../img/Spa_register.webp");
  background-size: cover;
  background-position: center;
}
.contenedor-logo{
  display: flex;
  justify-content: center;
}

.logo-icon {
  filter: drop-shadow(6px 4px 30px rgba(255, 255, 255, 0.283));
  height: 100px;
  width: 100px;
  border-radius: 75px;
  border: solid 1px #3aa1ea;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.logo-icon:hover{
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.form_labels {
  display: flex;
  gap: 20px;
}
.btn-lg{
  border-color: #3aa1ea;
  color: #3aa1ea;
}
.btn-lg:hover{
  color: white;
  background-color: #a0d1f4;
  border-color: #a0d1f4;
}
.btn-select {
  background-color: #3aa1ea;
  border-color: #3aa1ea;
  color: white;
}
.btn-register:hover{
  background-color: #3578a8;
  border-color: #3578a8;
}